/* import font from Google Font API */
@import 'https://fonts.googleapis.com/css?family=Open+Sans';

body {
    font-family: 'Open Sans', sans-serif;
    width: 80%;
    margin: auto;
    background-color: rgba(240,240,240,0.5);
    color: rgb(30,30,30);
}

body > header {
  margin-top: 100px;
}

body > header h2 {
  font-size: medium;
}

h2 span {
  font-size: small;
}

main section {
  margin-top: 3em;
}

.liste1 { padding-left: 10% }

footer {
  padding-top: 5em;
  padding-bottom: 5em;
  margin-top: 5em;
  font-size: 13px;
}
