body {
  background-color: #e8e4e4;
}

.menu-list {
  margin: 0 auto;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  height: 60px;
}

#author {
  font-size: 24px;
  padding: 15px;
  text-decoration: none;
  color: #2d5052;
}

nav {
  height: 60px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  border-bottom: 1px #2d5052 solid;
}

nav ul {
  list-style: none;
}

nav ul li {
  float: left;
  cursor: pointer;
}

.menu-item {
  padding: 20px;
  text-decoration: none;
  color: #2d5052;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}
