@import 'https://fonts.googleapis.com/css?family=Roboto:300';

* {
    box-sizing: border-box;
}
body {
  font-family: Roboto;
  background-color: #e8e4e4;
  color: #2d5052;
  /* min-width: 860px; */
}

/* code idea taken from w3c schools
 * http://www.w3schools.com/css/css_rwd_grid.asp */
.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

[class*="col-"] {
    float: left;
    padding: 15px;
    /* border: 1px solid red; */
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

/* end of code from w3c */

/*
.sidemenu ul { padding-top: 70px; list-style-type: none; }
.sidemenu li { padding: 10px; }
.sidemenu a { text-decoration: none; color: #2d5052; font-weight: bold; }
*/
.sidebilde { width: 100%; }

#giPLASS { height: 40px; }

.triptyk img { width: 100%; padding-top: 20px; }
.pandora img { width: 100%; padding-top: 20px; }
.icarus img { width: 100%; padding-top: 20px; }
.cinematics img { width: 100%; padding: 10px; padding-right: 0; padding-left: 0;}
.kings video { width: 100%; }
.flukt_enkel img { width: 100%; padding-top: 20px; }
.flukt img { width: 100%; padding: 10px; padding-right: 0; padding-left: 0;}
.glod_enkel img { width: 100%; padding-top: 20px; }
.glod img { width: 100%; padding: 10px; padding-right: 0; padding-left: 0;}
.matthew img { width: 100%; padding: 10px; padding-right: 0; padding-left: 0;}

.bok h1 {
  margin-right: 100px;
  text-align: right;
}
.bok p img { float: left; width: 30%; padding-right: 20px; }

/*Contact-siden */
.contactform{
}
input[type=text], select, input[type=email], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: arial;
}
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #556677;
}
input[type=submit]:hover {
    background-color: #123456;
}
fieldset{
  padding: 30px;
}
.valid{
  color: red;
  font-family: arial, helvetica;
  display: inline-block;
  position: relative;
  margin-top: -15px;
}
.formwrap{
  position:relative;
  width: 50%;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  [class*="col-"] {
      width: 100%;
  }

  .bok h1 {
    margin: 0;
    text-align: center;
    width: 100%;
  }

  .bildeserie { padding: 0; margin: 0; }
  #hanIStolen { display: none; }
}
