/*@import 'https://fonts.googleapis.com/css?family=Open+Sans:300';*/
@font-face {
    font-family: Trajan Pro;
    src: url(../font/TrajanProRegular.otf);
}

html { height: 100%; }
body { 
  font-family: 'Trajan Pro', sans-serif;
  background-color: rgba(240,240,240,0.5);
  color: #2d5052;
}

.videoContain {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: none;
  z-index: -1;
}

video {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: visible;
  width: auto;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  /*opacity: 0.8;*/
}

.centered {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main_header {
  text-align: center;
  margin-top: 100px;
  font-size: 30px;
}

.the_button {
  font-size: 30px;
  padding: 5px 7px 0px 5px;
  border-width: 1px;
  border-radius: 3px;
  border-color: #2d5052;
  border-style: solid;
  text-align: center;
}

a.the_button {
  color: #2d5052;
  text-decoration: none;
}

.button_fade {
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  overflow: hidden;
  transition-duration: 0.3s;
  transition-property: color, background-color;
}

.button_fade:hover, .button_fade:focus, .button_fade:active {
  background-color: rgba(255, 255, 255, 0.4);
  /*border-color: rgba(255, 255, 255, 0.4);*/
}


@media screen and (max-width: 800px) {
  body {
    background: url(../img/Cinematics8_light.jpg) no-repeat center center fixed;
    max-height: 100%;
    background-size: cover;
    color: white;
  }
  a.the_button { color: white; }
  .videoContain { display: none; }
}
/*
@media screen and (min-width: 800px) {
  body {
    background: url(../img/front_page.jpg) no-repeat center center fixed;
    max-height: 100%;
    background-size: cover;
  }
  .videoContain { display: none; }
}
*/
